@import "reset";
@import "animation";

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'),
         url('../fonts/poppins-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
 body {
    font-family: 'Poppins';
    color: #fff;
 }
 a {
    cursor: pointer;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    @media (max-width: 1366px) {
    font-size: 4.5vw;
    }
    @media (max-width: 1024px) {
        margin-bottom: 10vw;
        font-size: 8vw;
        padding: 0 2vw;
        text-align: center;
    }
    @media (max-width: 1024px) and (max-height: 768px) {
        font-size: 5vw;
    }
    @media (max-width: 414px) and (max-height: 738px) {  
        font-size: 10vw;
    }
}

// ---------------HEADER-----------------------
.header {
    position: absolute;
    top: 0;
}
.header-logo__block {
    height: 8vw;
    width: 25vw;
    padding: 1vw 0 0 1vw;
    background: linear-gradient(to left top, transparent 50%, rgba(0, 0, 0, 40%) 50%);    
    @media (max-width: 667px) {
        height: 14vw;
        width: 40vw;
    }
}
.header__logo {
    img {
        max-width: 50%;
        max-height: 50%
    }
}


// ----------------------------MENU--------------------------------------
.navBurger {
    width: 30px;
    height: 25px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;    
    cursor: pointer;
    background: #fff;
    box-sizing: border-box;
    background-clip: content-box;    
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    &:before,
    &:after {
        content: "";
        position: absolute;
        background: #fff;
        height: 2px;
        width: 100%;
        right: 0;
        will-change: rotate;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &:before {
        top: -10px;
        width: 90%;
    }
    &:after {
        bottom: -10px;
        width: 80%;
    }
    &.active {
        background: transparent;
        background-clip: content-box;
    }
    &.active:before {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        top: 0;
        background: #fff;
        width: 110%;
    }
    &.active:after {
        bottom: 0;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        background: #fff;
        width: 110%;
    }
}

.overlay {
    width: 30%;
    height: 100%;    
    position: fixed;
    top: 0;
    right: 0;
    background: #2a3140;    
    z-index: 5;
    transform-origin: right top;
    transform: scale(0);
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    &.open {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        li {
            display: block;
            animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5)
                forwards;
            animation-delay: 0.4s;
            transform: rotate(-7deg);
            transform-origin: right bottom;
            &:nth-of-type(2) {
                animation-delay: 0.5s;
            }
            &:nth-of-type(3) {
                animation-delay: 0.6s;
            }
            &:nth-of-type(4) {
                animation-delay: 0.7s;
            }
            &:nth-of-type(5) {
                animation-delay: 0.8s;
            }
        }
    }
}

.overlayMenu {
    position: absolute;
    right: 7vw;
    bottom: 30%;
    text-align: right;
    @media (max-width: 1024px) and (max-height: 414px) {
        bottom: 15%;
    }
    ul {
        height: 100%;
        display: block;
        position: relative;
        padding: 0;
        margin: 0 auto;
        list-style: none;
        li {
            width: 100%;
            display: block;
            position: relative;
            opacity: 0;
            a {
                display: inline-block;
                font-size: 2vw;
                padding: 1vw 4vw;
                margin: 1vw 0;
                border: 1px solid rgba(255, 255, 255, 0.377);
                color: #fff;
                text-decoration: none;
                transition: 0.2s;
                background: #2a3140;
                @media (max-width: 1024px) and (max-height: 414px) {
                    font-size: 2vw;
                }
                &:hover,
                &:active,
                &:focus {
                    transform: translateX(-2px);
                    padding-left: 6vw;
                    border: 1px solid rgba(255, 255, 255, 1);
                }
            }
        }
    }
}

// -----------------------------------------MAIN SCREEN------------------------------------

.top-main {
    position: relative;
    height: 100vh;
    background-image: url("../image/homebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;   
    background-position-y: center;
}

.black-bg {
    background-image: url("../image/blackbg.png");
    height: 100vh;
}
.top-main__center {
    position: absolute;
    top: 40%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    @media (max-width: 1024px) {
        flex-direction: column;
        top: 30%;
    }
}
.center-contact {
    width: 12vw;
    position: relative;
    @media (max-width: 1024px) {  
        position: absolute;
        bottom: -50vw;
        display: flex; 
        justify-content: space-between;     
        width: 80vw;
    }
    @media (max-width: 1024px) and (min-height: 768px) {  
        bottom: -90vw;
    }
    @media (max-width: 1024px) and (min-height: 1024px) {  
        bottom: -50vw;
    }
    @media (max-width: 1024px) and (max-height: 768px) {
        bottom: -25vw;
    }
    @media (max-width: 1024px) and (max-height: 414px) {
        bottom: -10vw;
    }
    @media (max-width: 414px) and (max-height: 738px) {  
        bottom: -70vw;
    }
    
}

.center__logo {
    width: 12vw;
    height: 12vw;
    background-image: url("../image/logocentr.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;   
    background-position-y: center;
    @media (max-width: 1024px) {
        width: 30vw;
        height: 30vw;
        position: absolute;
        bottom: 10vw;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @media (max-width: 1024px) and (max-height: 768px) {
        width: 15vw;
        height: 15vw;
        bottom: 8vw;
    }
    @media (max-width: 1024px) and (max-height: 414px) {
        width: 10vw;
        height: 10vw;
    }
    @media (max-width: 414px) and (min-height: 812px) {  
        bottom: 60vw;
    }
    @media (max-width: 414px) and (max-height: 738px) {  
        width: 20vw;
        height: 20vw;
        bottom: 50vw;
    }
}

.contact-viber {
    top: 13vw;
    left: -5vw;
    background-image: url("../image/viber.png");
}
.contact-tel {
    animation: phone 1s ease-in-out infinite;
    top: -4vw;
    left: 12vw;
    background-image: url("../image/tel.png");
}

.contact-telegram {
    top: -6vw;
    left: 1vw;
    background-image: url("../image/telegram.png"); 
}
.contact-mail {
    top: 15vw;
    left: 50%;
    background-image: url("../image/email.png");

}
.center__skype {
    top: -11vw;
    left: 50%;
    background-image: url("../image/skype.png");
}
.center__cactus {
    top: 9vw;
    left: 15vw;
    background-image: url("../image/cactus.png");
    &:hover {
        -webkit-animation: swing 0.6s ease;
        animation: swing 0.6s ease;
         -webkit-animation-iteration-count: 1;
         animation-iteration-count: 1;
    }
}

.contact-viber, 
.contact-tel, 
.contact-telegram, 
.contact-mail, 
.center__cactus, 
.center__skype,  {
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;   
    background-position-y: center;
    &:hover {
        transform: scale(1.2);
    }
    @media (max-width: 1024px) {
        width: 5vw;
        height: 5vw;
        position: static;
        display: flex;
    }
    @media (max-width: 1024px) and (max-height: 768px) {
        width: 3vw;
        height: 3vw;
    }
    @media (max-width: 414px) and (max-height: 738px) {  
        width: 6vw;
        height: 6vw;
    }

}

.button-aboutUs {
    width: 10vw;
    height: 4vw;
    position: absolute;
    right: -3vw;
    top: 50%;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83D024;   
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    overflow: hidden;
    transform: rotate(-90deg);
    @media (max-width: 1024px) {
        width: 15vw;
        height: 5vw;
        font-size: 2.2vw;
        right: -5vw;
    }
    &:hover {
        cursor: pointer;
        border: 3px solid rgb(100, 155, 34);
        color: #2a3140;
    }
}

.top-main__scroll {
    position: absolute;
    bottom: 1.5vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 0.8vw;
    animation: pulse 4s infinite;
    &:hover {
        opacity: 0.5;
        cursor: pointer;
    }
    @media (max-width: 1024px) {
        animation: pulse1024 4s infinite;
    }
}

#aboutUs {
    background-color: #2a3140;
    p {
        width: 90%;
    }
}





